// Fonts
$font-family-sans-serif: 'Kumbh Sans', sans-serif;
$font-size-base: 1.8rem;

// Border
$border-radius-lg: 1rem;

// Colors
$body-bg: hsl(185, 75%, 39%);
$body-color: hsl(229, 23%, 23%);
$secondary: hsl(227, 10%, 46%);
$border-color: hsl(0, 0%, 59%);
