.card {
  &__container {
    max-width: 35rem;
    margin: 0 auto;
    border: none;
    border-radius: $border-radius-lg;
    background-color: $white;
    flex-direction: column;
  }

  &__content {
    text-align: center;
    &-social {
      .col > :first-child {
        font-weight: 700;
      }

      .col > :last-child {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        color: $secondary;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}
